*{
    margin: 0;
    padding: 0;
}
html{
    background-color: black;
}
.main{
    display: flex;
    
}
.sec-1{
    padding: 100px;

}
.inp{
    padding: 30px;
    width: 500px;
    border-radius: 10px;
    font-size: 20px;
}
.sub{
    width: 565px;
}
.sub:hover{
    background-color: rgb(93, 94, 94);
}
form{
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.card{
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 15px grey;
    margin-bottom: 30px;
}
.sec-2{
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    ;
}
.c-h{
    margin: 5px;
}
.c-p{
    margin-top: 10px;
}
.c-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}